/.vagrant
/vendor
/reports
/composer.phar
.DS_Store
*.log
/src/iRESTful/Rodson/Tests/Files/Authenticated/Output/*
/src/iRESTful/Rodson/Tests/Files/Authenticated/Output.bck/*
/src/iRESTful/Rodson/Tests/Files/Profiles/*
